body{
    background: url('BackgroundOption1.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
#makeCall {
    height: 100px;
}

.header {
    padding-top: 100px;
    font-size: 36px;
}
#loginButton {
    height: 60px;
    width: 100px;
    font-size: 24px;
    margin-left:20px;
}
.aviImg {
    /*background: url('aviLogo.png') no-repeat center center fixed;*/
    /*background-size: cover;*/
    position: fixed;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
}
/*#l-video{*/

/*}*/
/*#r-video{*/
/*}*/

/*.local{*/
    /*padding-bottom:20px;*/
/*}*/
.container {
    width: 100%;
}

.footer{
    text-align: center;
    margin-top: 20px;
}

.jumbotron{
    margin-bottom: 0px;
}

img{
    border: solid 1px;
    width: 100%;
}

.fullsz{
    width: 100%;
}

.txtarea{
    outline:none;
    border:solid 1px #BBB;
    font-size:15px;
    margin-top: 10px;
    height: 150px;
    background-color: #fff;
    margin-bottom: 10px;
    overflow: scroll;
    overflow-x: hidden;
}

.local{
    margin-top: 10px;
}

.video{
    background-color: black;
}

/* Css For Big Devices */

@media screen and (min-width:768px) {
    body {
        padding-top: 55px;

    }

    .remote{
        width: 85%;
    }

    .local{
        margin-top: 0px;
    }

    #remoteimg{
        border: solid 1px;
        width: 85%;
    }

    .jumbotron{
        margin-top: -45px;
    }
}