<!DOCTYPE html>
<html>
<head>
    <title>virtual receptionist</title>
    <!--<script src="/primus/primus.io.js"></script>-->

</head>
<body>
<p>Hey</p>
<!--<div id="messages" contenteditable></div>-->
<!--<div id="l-video"></div>-->
<!--<div id="r-video"></div>-->
<script type="text/javascript" src="/vendors/socket.io-client/socket.io.js"></script>
<script type="text/javascript" src="/vendors/rtc/dist/rtc.min.js"></script>
<script type="text/javascript" src="/vendors/angular/angular.min.js"></script>
<script type="text/javascript" src="/vendors/angular-route/angular-route.min.js"></script>
<script type="text/javascript" src="/assets/scripts/main.min.js"></script>
<!--<script type="text/javascript" src="/assets/scripts/controllers/controller.min.js"></script>-->
<script type="text/javascript" src="/vendors/jquery/dist/jquery.min.js"></script>

</body>