<div class="container">
    <div>
        <img class="aviImg" src="assets/styles/images/newAvi.png">
    </div>
    <div id="about">
        <div id="aboutContent">
            <h1 class="aboutStyle" style="text-align: center; color:#AE1C54">AVI PROCESS <br><small>WITH YOU EVERY STEP OF THE WAY</small></h1>

            <h2 class="aboutStyle" style="color:#AE1C54">PRO DEVELOPMENT</h2>
            <h4 class="aboutStyle">KNOWLEDGE IS POWER.</h4>
            <p>Anything is possible with a solid foundation of information and a clear understanding of objectives. PRO Development begins with due diligence and discovery, followed by project scope and budget. Next we define system recommendations, estimates, timelines, support plans and technology roadmaps. All this is included in an Executive Summary.</p>
            <h4 class="aboutStyle">AVI PRO DEVELOPMENT DELIVERS:</h4>
            <div class="row">
                <div class="col-lg-6">
                    <ul>
                        <li>Initial scope of functionality/scope of work</li>
                        <li>Potential concerns</li>
                        <li>Identification of stakeholders</li>
                        <li>Preliminary budget</li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <ul>
                        <li>Conceptual drawings</li>
                        <li>Project timeline with milestones</li>
                        <li>Support plan discussion</li>
                        <li>Executive summary</li>
                    </ul>
                </div>
            </div>
            <h2 class="aboutStyle" style="color:#AE1C54">PRO DESIGN</h2>
            <h4 class="aboutStyle">COLLABORATION IS KEY.</h4>
            <p>Specialized engineers, technicians and project managers partner with you at every stage, decreasing design time and eliminating hassles, including post-construction costs related to redesign, equipment changes and unexpected surprises. As a result, we’re able to complete even complex, highly customized projects precisely on schedule.</p>
            <h4 class="aboutStyle">AVI PRO DESIGN DELIVERS:</h4>
            <div class="row">
                <div class="col-lg-6">
                    <ul>
                        <li>Detailed Project Scope of Work</li>
                        <li>Schedule of milestones and long-term goals</li>
                        <li>Trade coordination and accurate construction documents for implementation of AV-related infrastructure</li>
                        <li>Detailed floor plans, drawings and renderings</li>
                        <li>Equipment lists as specified (Bill of Materials)</li>

                    </ul>
                </div>
                <div class="col-lg-6">
                    <ul>
                        <li>System infrastructure requirements including cable and termination specifications</li>
                        <li>System operational and post operational requirements</li>
                        <li>Total project costs</li>
                        <li>Project Systems Implementation Agreement</li>
                        <li>Never any change orders – unless you ask for them</li>
                    </ul>
                </div>
            </div>
            <h2 class="aboutStyle" style="color:#AE1C54">PRO INTEGRATION</h2>
            <h4 class="aboutStyle">THE SOLUTION IS PROVEN.</h4>
            <p>PRO Integration begins with pre-integration. Stakeholders and trades are coordinated. After equipment is fabricated, integrated and tested, it’s wired into racks, programmed and retested, and only then delivered for installation. Onsite integration and system launch includes placement of structured power, cable and hardware, along with mounting of displays and audio reinforcement. Audio, video and control are programmed and tested. And before the Acceptance of Substantial Completion is signed, we verify that the solution meets your needs.</p>
            <h4 class="aboutStyle">AVI PRO INTEGRATION DELIVERS:</h4>
            <div class="row">
                <div class="col-lg-6">
                    <ul>
                        <li>Execution of Scope of Work</li>
                        <li>Outlined time frames</li>
                        <li>Dedicated project manager</li>
                        <li>Industry-trained and certified integration team</li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <ul>
                        <li>Control system programming</li>
                        <li>System commissioning and certification</li>
                        <li>System operational training</li>
                        <li>90-day warranty</li>
                    </ul>
                </div>
            </div>
            <h2 class="aboutStyle" style="color:#AE1C54">GLOBAL PRO SUPPORT</h2>
            <h4 class="aboutStyle">PEACE OF MIND. DELIVERED.</h4>
            <p class="aboutSyle">From on-the-spot technical assistance to parts replacement and equipment repair, AVI Global PRO Support specialists, technicians and engineers are on call 24/7/365. Unlimited onsite and phone support enables us to diagnose, repair and maintain your entire system economically and efficiently. Count on AVI to provide clear instructions on how to use each system and for further adjustments and additional training as needed during the first year of operation.</p>
            <h4 class="aboutStyle">AVI GLOBAL SUPPORT DELIVERS:</h4>
            <div class="row">
                <div class="col-lg-6">
                    <ul>
                        <li>Unlimited onsite support calls</li>
                        <li>Unlimited operator training & retraining</li>
                        <li>Unlimited telephone support</li>
                        <li>Repair or replacement of equipment failures guaranteed</li>
                        <li>Unlimited support for user error</li>
                        <li>Priority response guarantee: onsite within 8 business hours</li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <ul>
                        <li>Biannual system re-certification</li>
                        <li>Asset tracking</li>
                        <li>End-of-life reporting</li>
                        <li>Certified recycling</li>
                        <li>Loaner flat screens up to 50” and table top projectors</li>
                        <li>Upgrade options for multiple-year coverage</li>
                        <li>Annual account review</li>
                        <li>Freight covered</li>
                    </ul>
                </div>
            </div>


        </div>
    </div>
    <div id="navBar">
    </div>
    <div class="icons">
        <ul class="navList">
            <a class="links" href="#projects"><li class="navButtons">
                <p class="linkName">AVI Projects</p>
            </li></a>
            <a class="links" href="#about"><li class="navButtons">
                <p class="linkName">About AVI</p>
            </li></a>
            <a class="links" href="#locations"><li class="navButtons">
                <p class="linkName">AVI Locations</p>
            </li></a>
            <a class="links" href="#lobby"><li class="navButtons">
                <p class="linkName">Virtual Receptionist</p>
            </li></a>
        </ul>
    </div>
    <div class="homeLink">
        <a href="#home"><img id="homeIcon" src="assets/styles/images/home-icon.png"></a>
    </div>
</div>