<div class="row">
    <button ng-click="someFunction()">play</button>
    <div class="col-md-1"></div>
        <div class="col-md-11">
            <div class="header">
                <p class="header">Welcome to AVI's Virtual Receptionist</p>
            </div>
        <div ng-hide="loggedIn" class="row">
            <button id="loginButton" ng-mouseover="getOptions()" class="btn btn-primary" width="40px" data-toggle="modal" data-target="#loginModal" ng-click="getOptions()">Login</button>
            <div class="modal fade" id="loginModal" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">&times;</span>
                                <span class="sr-only">Close</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">Choose which option (order) you would like to be</h4>
                        </div>

                        <!-- Modal Body -->
                        <div class="modal-body">

                            <form class="form-horizontal" role="form" id="messageForm">
                                <div class="form-group">
                                    <label  class="col-sm-1 control-label"></label>
                                    <div class="col-sm-9">
                                        <div class="form-group">
                                            <label for="sel1">Select your call option:</label>
                                            <select class="form-control" id="sel1" ng-model="option">
                                                <option ng-repeat="option in options">{{option}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                        <!-- Modal Footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Exit Option Selecter
                            </button>
                            <button type="button" class="btn btn-primary" ng-click ="loginFunction(option)" data-dismiss="modal">
                                Choose this order
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="kiosk" class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h2>Click the AVI image to reach someone</h2>
                <a href="#videochat"><div ng-click="callFunction()" class="aviImg">
                    <img src="/assets/styles/aviLogo.png" width="400px" height="400px">

                </div></a>
                <!--<button id="makeCall" class="btn btn-primary" ng-click="callFunction()"><a href="#videochat" ><p style="color: white;">Click here to speak with someone</p></a></button>-->
            </div>
            <div class="col-md-1"></div>


        </div>

        <div ng-show="user" class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h2>You are logged in as {{option}}</h2>
                <h3>If a call is coming in, a link will appear below, lick to answer.</h3>
                <div class="appendCallLink">Link goes here</div>
                <div class="aviImg">
                    <img src="/assets/styles/aviLogo.png" width="400px" height="400px">

                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <div ng-hide="user || kiosk" class="aviImg">
        <img src="/assets/styles/aviLogo.png" width="400px" height="400px">

    </div>


</div>

