<div class="container">
    <div>
        <img class="aviImg" src="assets/styles/images/newAvi.png">
    </div>
    <div id="projects">
        <div class="projectCarousel">
            <div id ="slides_control">
                <div>
                    <carousel interval = 'myInterval'>
                        <slide ng-repeat = 'slide in slides' active ='slide.active'>
                            <img class='carousel' ng-src="{{slide.image}}">
                            <div class="carousel-caption">
                                <!--<h4>Slide {{$index+1}}</h4>-->
                            </div>
                        </slide>
                    </carousel>
                </div>
            </div>
        </div>
    </div>
    <div id="navBar">
    </div>
    <div class="icons">
        <ul class="navList">
            <a class="links" href="#projects"><li class="navButtons">
                <p class="linkName">AVI Projects</p>
            </li></a>
            <a class="links" href="#about"><li class="navButtons">
                <p class="linkName">About AVI</p>
            </li></a>
            <a class="links" href="#locations"><li class="navButtons">
                <p class="linkName">AVI Locations</p>
            </li></a>
            <a class="links" href="#lobby"><li class="navButtons">
                <p class="linkName">Virtual Receptionist</p>
            </li></a>
        </ul>
    </div>
    <div class="homeLink">
        <a href="#home"><img id="homeIcon" src="assets/styles/images/home-icon.png"></a>
    </div>
</div>